@import url("https://fonts.cdnfonts.com/css/euclid-circular-b?styles=100047,100044,100046,100049,100041");
@import "tailwindcss";

@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@layer base {
  @font-face {
    font-family: "Nasalization";
    src: url("/fonts/nasalization.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: "Euclid Circular B", ui-sans-serif, system-ui;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Nasalization", sans-serif;
  }
  
}

@layer utilities {
  .font-nasa {
    font-family: "Nasalization", sans-serif;
  }
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } 
}
